:root {
  --default-font: "Bricolage Grotesque", sans-serif;
}

#navigation,
#main-head {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
h2 {
  color: rgba(10, 48, 198, 0.87);
  text-decoration: underline;
}

body {
  background-color: lavender;
  /*background-image: url("https://images.pexels.com/photos/15272405/pexels-photo-15272405/free-photo-of-aerial-photo-of-the-ocean.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center;*/
  font-family: var(--default-font);
}

li {
  list-style-type: disc;
}

table,
tr,
td {
  padding: 10px;
  font-size: 20px;
}

a:link {
  color: red;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: green;
}
