:root {
  --pri-font: "Paytone One", sans-serif;
}

body {
  background-color: lightblue;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#map {
  min-width: 100%;
  min-height: 400px;
  border-radius: 10px;
  justify-self: start;
  z-index: 4;
}

/*.mapboxgl-canvas {*/
/*  width: 100%;*/
/*}*/

.weather-icon-img {
  height: 50px;
  width: 50px;
}

#current-weather-img {
  height: 100px;
  width: 200px;
}

#todays-weather-hero {
  border: 1px solid black;
  border-radius: 10px;
  height: 90vh;
  background-image: url("../img/weather/hero-bg.jpg");
}
#hero-city {
  font-size: 50px;
}

#hero-p {
  font-size: 90px;
}

.main-wrapper {
  min-width: 96vw;
  min-height: 99vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.five-day-square {
  background-image: linear-gradient(to bottom, #2565ae, #3c99dc, #66d3fa);
  color: white;
}

#insert-weather {
  z-index: 3;
}

#weather-holder {
  overflow: hidden;
}

#insert-detail {
  z-index: 2;
  position: absolute;
  top: -260px;
  left: 0px;
}

.detailed-weather {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#wind-speed-img {
  height: 50px;
  width: 50px;
}

.daily {
  min-width: 150px;
  min-height: 150px;
}
