:root {
  --pri-font: "Paytone One", sans-serif;
}

/*body {*/
/*  background-color: lightblue;*/
/*}*/

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#map {
  min-width: 100vw;
  min-height: 100vh;
  border-radius: 10px;
}

.weather-icon-img {
  height: 50px;
  width: 50px;
}

#current-weather-img {
  height: 100px;
  width: 200px;
}

#hero-city {
  font-size: 50px;
}

#hero-p {
  font-size: 90px;
}

.five-day-square {
  background-image: linear-gradient(to bottom, #2565ae, #3c99dc, #66d3fa);
  color: white;
}

.detailed-weather {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#wind-speed-img {
  height: 50px;
  width: 50px;
}

.daily {
  min-width: 150px;
  min-height: 150px;
}

#map-five-day-wrapper {
  position: relative;
}

#todays-weather-hero {
  height: 100vh;
  background-image: url("../img/weather/hero-bg.jpg");
  z-index: 2;
}

#map-holder-row {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

#weather-holder-row {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
