.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#map {
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
}

.weather-icon-img {
  height: 50px;
  width: 50px;
}

#current-weather-img {
  height: 100px;
  width: 200px;
}

#hero-city {
  font-size: 50px;
}

#hero-p {
  font-size: 90px;
}

.five-day-square {
  background-image: linear-gradient(to bottom, #2565ae, #3c99dc, #66d3fa);
  width: 10%;
  height: 175px;
  color: white;
  z-index: 6;
  transition: all ease 0.3s;
}

/*.five-day-square:hover {*/
/*  height: 100px;*/
/*}*/

.detailed-weather {
  width: 10%;
  max-height: 400px;
  background-image: linear-gradient(to bottom, #2565ae, #3c99dc, #66d3fa);
  color: white;
}

#five-day-card0 {
  position: absolute;
  bottom: 180%;
  left: 38.8%;
}

#condition0 {
  position: absolute;
  bottom: 180%;
  left: 38.8%;
  transition: all ease 0.3s;
}

#five-day-card8 {
  position: absolute;
  bottom: 180%;
  left: 50%;
}

#condition8 {
  position: absolute;
  bottom: 180%;
  left: 50%;
  transition: all ease 0.3s;
}

#five-day-card16 {
  position: absolute;
  bottom: 180%;
  left: 61.2%;
}

#condition16 {
  position: absolute;
  bottom: 180%;
  left: 61.2%;
  transition: all ease 0.3s;
}

#five-day-card24 {
  position: absolute;
  bottom: 180%;
  left: 72.4%;
}

#condition24 {
  position: absolute;
  bottom: 180%;
  left: 72.4%;
  transition: all ease 0.3s;
}

#five-day-card32 {
  position: absolute;
  bottom: 180%;
  left: 83.6%;
}

#condition32 {
  position: absolute;
  bottom: 180%;
  left: 83.6%;
  transition: all ease 0.3s;
}

#condition0:hover,
#condition8:hover,
#condition16:hover,
#condition24:hover,
#condition32:hover {
  bottom: 700%;
}

#map-five-day-wrapper {
  position: relative;
  overflow: hidden;
}

#todays-weather-video {
  border-radius: 20px;
  height: 90%;
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 5%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  width: 30%;
  opacity: 0.7;
}

#todays-weather-hero {
  position: absolute;
  z-index: 6;
  top: 10%;
  left: 5%;
  width: 30%;
}

#weather-holder-row {
  position: absolute;
  bottom: 0;
  z-index: 5;
}
